div {
	background-color: #fbfcde;
	background-repeat: repeat;
	padding: 15px 15px 15px 15px;
	border: 20px double;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 20px 30px;
}

body {
	background-image: url("seamless.jpg");
	background-color: #cccccc;
	background-repeat: repeat;
}

h1 {
	text-align: center;
	font-family: helvetica;
    color: #f4cd77;	
}

h2 {
	font-family: Garamond;
	border-color: #efe5ce;
	color: #efe5ce;
}

li {
	font-family: Tahoma;
	color: #ccb076;
}



